body {
	font-family: 'Lato', sans-serif;
	margin:0;
	/*display: flex;
	flex-direction: column;*/
	background-color: #f9f9f9;
}

.menu {
	display: block;
	//flex-direction: column;
	overflow: hidden;
	background-color: #ff0066;
	top: 0;
	width: 100%;
	height: 85%;
	position: fixed;
	transition: 0.5s;
	box-shadow: 0px 1px 10px #3a3a3a;

}
#group {
	height: auto;
	//width: 100%;
	display: flex;
	//justify-content: flex-end;
	padding: 1% 0% 0% 0%;
	position: relative;
	margin: 0 auto;
	max-width: 1080px;
	//overflow: hidden;
}
.logo {
	//overflow: hidden;
	top: 0;
	flex: 0 0 240px;
	//flex-basis: 25%;
	display: flex;
	//vertical-align: middle;
	position: relative;
    padding: 0;
    margin: 0;
	//width: 228px;
	//height: 100%;	
	text-decoration: none;
	transform: translateX(-200%);
	transition: transform 0.7s;
	transition-delay: 0.7s;
	//padding-left: 100px;
	//float: left;
	
}

.logo-name {
	//vertical-align: middle;
	//top: 20%;
	margin-left: 1%;
	//height: auto;
	//display: inline-block;
	//margin: 0 auto;
	color: #f1f1f1;
	font-size: 15px;
	font-weight:700;
	position: relative;
	line-height: 20px;
	//width: auto;

}
.logo-name p{

	top: 20%;
	position: relative;
	margin: 0;
	letter-spacing: 1px;

}
#logo-rim{

	stroke: white;
	transition-duration: 0.5s;
}
.logo:hover #logo-rim{
	
	stroke: #99003d;
	transition-duration: 0.5s;
	
}

div.logo-name p:nth-of-type(2){
	font-size: 13px;

}

#navbar {
	display: flex;
	//vertical-align: middle;
	//float: right;
	flex: 0 0 75%;
	//align-self: flex-end;
	z-index: 1;
	list-style-type: none;
	position: relative;
	transform: translateX(200%);
	transition: transform 1s;
	transition-delay: 0.4s;
	margin: 0;
	padding: 0;
	//width: auto;
	justify-content: flex-end;
	
}
#navbar li{
	//justify-content: f;
	//top: calc(12.5%);
	position: relative;
	display: inline;
	padding: 5px 16px;
	//float: left;
}
#navbar a {
	position: relative;
	color: #f1f1f1;
	//text-align: right;
	padding-bottom: 1px;
	text-decoration: none;
	font-size: 12px;
	font-weight:700;
	text-transform: uppercase;
}
#navbar a:before  {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.2px ;
	bottom: -5;
	//left: 0;
	background-color: #99003d;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.2s ease-in-out 0s;
}
#navbar a:hover:before, .navbar a:focus:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
#navbar a:focus{
	border-bottom: 1.2px solid white;
     color: white;
     padding-bottom: 6px;
}
.banner {
	//box-sizing: border-box;
	//display: none;
	text-align: center;
	position: relative;
	top: calc(25%);
	width: 100%;
	height: auto;
	
	//border: 3px solid black;

}
.banner p {
	color:#f1f1f1;
	font-size: 35px;
	font-weight: 300;
	//padding: 1px;
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-15px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


.viewprofilebtn {
	//display: flex;
	text-align: center;
	position: relative;
	top: 45%;
	width: 100%;
	height: auto;
	//border: 3px solid black;

}

.viewprofilebtn a {
	color: #f1f1f1;
	//padding: 5px 15px;
	text-decoration: none;
	//font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	//width: 100%;
	height: 15px;
}
.double-arrow{
	height: 20px;
	color: white;
}
.banner a:hover{
	
}
.main {
	position: relative;
	top: 100px;
	z-index: -1;
}

/*.main{
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}*/