body {
	font-family: 'Lato', sans-serif;
	margin:0;
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
}

.menu {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #ff0080;
	top: 0;
	width: 100%;
	height: 650px;
	position: fixed;
	transition: 0.5s;
	box-shadow: 0px 1px 10px #3a3a3a;

}

.navbar {

	z-index: 1;
	list-style-type: none;
	display: flex; 
	position: absolute;
	right: 50px;
	transform: translateX(100%);
	transition: transform 1s;
	transition-delay: 0.4s;
	width: auto;
}

.navbar a {
	color: #f1f1f1;
	//text-align: right;
	padding: 5px 16px;
	text-decoration: none;
	font-size: 12px;
	font-weight:700;
	text-transform: uppercase;
}

.navbar a:hover {
	
}

.banner {
	
	//display: none;
	text-align: center;
	position: relative;
	top: calc(25%);
	width: 100%;
	height: auto;
	
	//border: 3px solid black;

}
.banner p {
	color:#f1f1f1;
	font-size: 35px;
	font-weight: 600;
	//padding: 1px;
}

.viewprofilebtn {
	text-align: center;
	position: relative;
	top: 50%;
	width: 100%;
	height: auto;
	//border: 3px solid black;

}

.viewprofilebtn a {
	color: #f1f1f1;
	//padding: 5px 15px;
	text-decoration: none;
	//font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	//width: 100%;
	height: 15px;
}
.banner a:hover{
	
}
.main {
	position: relative;
	top: 100px;
	z-index: -1;
}

/*.main{
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}*/