<html>
<head>
	<link rel = "stylesheet" type = "text/css" href="assets/css/stylePages.css">
</head>
<body>
	<div class = "title">
		<h1>How To Contact</h1>
		
	</div>

	<!-- <div class = "content" ng-controller="formCtrl">
		<form  id="contact-form" method="post" role="form">
			<fieldset>
				<label for="name">Name &#42;</label>
				<input id="name" ng-model = "formData.name" type="text" placeholder="Your name" required="required">
				<label for="email">Email &#42;</label>
				<input id="email" ng-model="formData.email" type="text" placeholder="Your email" required="required">
				<label for="message">Message &#42;</label>
				<textarea id="message" ng-model="formData.message" placeholder="Enter your message here" rows="3" required="required"></textarea>
				<button ng-click = "sub()"type="submit">Submit</button>
			</fieldset>
		</form>


	</div> -->
	<div class = "content">
		<form action = '/Contact' class = "form-style-8" method="post" role="form">
			
				<label for="name">Name &#42;</label>
				<input id="name" name="name" type="text" placeholder="Your Name" required="required">
				<label for="email">Email &#42;</label>
				<input id="email" name="email" type="text" placeholder="Your Email" required="required">
				<label for="message">Message &#42;</label>
				<textarea id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
				<button type="submit">Submit</button>
			
		</form>
	</div>

</body>
</html>